{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ headline_data }}</title>
    <link rel="stylesheet" href="{% static 'read.css' %}" />
    <link
      rel="shortcut icon"
      href="{% static 'favicon.ico'%}"
      type="image/x-icon"
    />
  </head>
  <body>
    <h1>{{ headline_data }}</h1>
    <h1 style="font-size: 1rem">{{ date_data }}</h1>
    <div class="content"><p class="detail">{{ detail_data }}</p></div>
  </body>
</html>
